body{
    font-family: 'open sans' !important;
}
select{
    -webkit-appearance: none;
    background-image: url('../public/assets/images/svg/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right;
}